body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 7, 134);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-color: rgb(255, 0, 128);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.player-info input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.014);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.choices {
    margin: 20px 0;
}

.choices button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.choices button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.choices button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.scoreboard, .result p {
    font-size: 18px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.player1-score, .player2-score {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    width: 45%;
}

.result {
    margin-top: 20px;
}

.result p {
    margin: 10px 0;
}

#play-again {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(56, 7, 134);
    cursor: pointer;
}
